@page
@model FalconHeavyModel
@{
    ViewData["Title"] = "Falcon Heavy";
}

<h1>Falcon Heavy</h1>
<small>The content on this page has been referenced from <a href="https://en.wikipedia.org/wiki/Falcon_Heavy">https://en.wikipedia.org/wiki/Falcon_Heavy</a></small>
<hr>
<p><strong>Falcon Heavy</strong> is a partially <a href="https://en.wikipedia.org/wiki/Reusable_launch_system">reusable</a> <a href="https://en.wikipedia.org/wiki/Heavy-lift_launch_vehicle">heavy-lift launch vehicle</a> designed and manufactured by <a href="https://en.wikipedia.org/wiki/SpaceX">SpaceX</a>. It is derived from the <a href="https://en.wikipedia.org/wiki/Falcon_9">Falcon 9</a> vehicle and consists of a strengthened <a href="https://en.wikipedia.org/wiki/List_of_Falcon_9_boosters">Falcon 9 first stage</a> as a central core with two additional first stages as <a href="https://en.wikipedia.org/wiki/Modular_rocket">strap-on boosters</a>.<sup><a id="cite-1" href="#ref-1">[1]</a></sup> Falcon Heavy has the highest payload capacity of any currently operational launch vehicle, and the fourth-highest capacity of any rocket ever built, trailing the American <a href="https://en.wikipedia.org/wiki/Saturn_V">Saturn V</a> and the Soviet <a href="https://en.wikipedia.org/wiki/Energia">Energia</a> and <a href="https://en.wikipedia.org/wiki/N1_(rocket)">N1</a>.</p>
<p>SpaceX conducted <a href="https://en.wikipedia.org/wiki/Falcon_Heavy_test_flight">Falcon Heavy's maiden launch</a> on February 6, 2018, at 3:45 p.m. <a href="https://en.wikipedia.org/wiki/Eastern_Time_Zone">EST</a> (20:45 UTC). The rocket carried a <a href="https://en.wikipedia.org/wiki/Elon_Musk's_Tesla_Roadster">Tesla Roadster</a> belonging to SpaceX founder <a href="https://en.wikipedia.org/wiki/Elon_Musk">Elon Musk</a>, as a <a href="https://en.wikipedia.org/wiki/Boilerplate_(spaceflight)">dummy payload</a>. The next Falcon Heavy launch is scheduled for November 19, 2018.</p>
<a href="https://en.wikipedia.org/wiki/File:Falcon_Heavy_cropped.jpg"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Falcon_Heavy_cropped.jpg/270px-Falcon_Heavy_cropped.jpg"/></a>
<p><br>Falcon Heavy was designed to carry humans into space beyond low Earth orbit, although as of  February 2018<sup class="plainlinks noexcerpt noprint asof-tag update" style="display:none;"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Falcon_Heavy&action=edit">[update]</a></sup> Musk does not plan to apply for a <a href="https://en.wikipedia.org/wiki/Human-rating_certification" title="Human-rating certification">human-rating certification</a> to carry <a href="https://en.wikipedia.org/wiki/NASA" title="NASA">NASA</a> <a href="https://en.wikipedia.org/wiki/Astronaut" title="Astronaut">astronauts</a>.  Falcon Heavy and other current Falcon launch vehicles are poised to be replaced by the <a href="https://en.wikipedia.org/wiki/BFR_(rocket)" title="BFR (rocket)">BFR</a> ("Big Falcon Rocket") by the early 2020s.</p>
<br>
<h2>History</h2>
<hr>
<p>Concepts for a Falcon Heavy launch vehicle were initially discussed as early as 2004. SpaceX unveiled the plan for the Falcon Heavy to the public at a Washington DC news conference in April 2011, with initial test flight expected in 2013.</p>
<p>A number of factors delayed the planned maiden flight by 5 years to 2018, including two anomalies with Falcon 9 launch vehicles, which required all engineering resources to be dedicated to failure analysis, halting flight operations for many months. The integration and structural challenges of combining three Falcon 9 cores were much more difficult than expected.</p>
<p>In July 2017, Elon Musk said, "It actually ended up being way harder to do Falcon Heavy than we thought. ... Really way, way more difficult than we originally thought. We were pretty naive about that."</p>
<p>The initial test flight for a Falcon Heavy lifted off on February 6, 2018, at 3:45 pm EST, carrying its dummy payload, <a href="https://en.wikipedia.org/wiki/Elon_Musk's_Tesla_Roadster">Musk's personal Tesla Roadster</a>, beyond Mars orbit.</p>
<h3>Conception and funding</h3>
<p>Musk mentioned Falcon Heavy in a September 2005 news update, referring to a customer request from 18 months prior. Various solutions using the planned <a href="https://en.wikipedia.org/wiki/Falcon_5">Falcon 5</a> had been explored, but the only cost-effective, reliable iteration was one that used a 9-engine first stage – the Falcon 9. The Falcon Heavy was developed with <a href="https://en.wikipedia.org/wiki/Private_spaceflight">private</a> <a href="https://en.wikipedia.org/wiki/Private_capital">capital</a> with Musk stating that the cost was more than $500 million. No government financing was provided for its development.</p>
<h3>Design and development</h3>
<p>The Falcon Heavy design is based on <a href="https://en.wikipedia.org/wiki/Falcon_9#Development,_production,_and_testing_history">Falcon 9</a>'s fuselage and engines.</p>
<p>In 2015, SpaceX announced a number of changes to the Falcon Heavy rocket, worked in parallel to the <a href="https://en.wikipedia.org/wiki/Falcon_9_Full_Thrust">upgrade of the Falcon 9 v1.1</a> launch vehicle. In December 2016, SpaceX released a photo showing the Falcon Heavy interstage at the company headquarters in Hawthorne, California.</p>
<h3>Maiden Flight</h3>
<p>On February 6, 2018, after a delay of over two hours due to high winds, Falcon Heavy lifted off at 3:45pm EST.<sup><a id="cite-2" href="#ref-2">[3]</a></sup> Its side boosters landed safely on <a href="https://en.wikipedia.org/wiki/Landing_Zones_1_and_2">Landing Zones 1 and 2</a> a few minutes later. However, only one of the three engines on the center booster that were intended to restart, ignited during its descent, causing it to hit the water next to the droneship at a speed of over 480 km/h (300 mph).</p>
<p><a href="https://en.wikipedia.org/wiki/File:Falcon_Heavy_Side_Boosters_landing_on_LZ1_and_LZ2_-_2018_(25254688767).jpg"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Falcon_Heavy_Side_Boosters_landing_on_LZ1_and_LZ2_-_2018_(25254688767).jpg/280px-Falcon_Heavy_Side_Boosters_landing_on_LZ1_and_LZ2_-_2018_(25254688767).jpg"/></a></p>
<p>Initially Elon Musk tweeted that the Roadster had overshot its planned <a href="https://en.wikipedia.org/wiki/Heliocentric_orbit">heliocentric orbit</a>, and would reach the <a href="https://en.wikipedia.org/wiki/Asteroid_belt">asteroid belt</a>. In fact, observations by telescopes showed that the Roadster would only slightly exceed the orbit of Mars at <a href="https://en.wikipedia.org/wiki/Aphelion">aphelion</a>.</p>
<br>
<h2>See Also</h2>
<hr>
<ul>
   <li><a href="https://en.wikipedia.org/wiki/Comparison_of_orbital_launch_systems">Comparison of orbital launch systems</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Comparison_of_orbital_launchers_families">Comparison of orbital launchers families</a></li>
   <li><a href="https://en.wikipedia.org/wiki/SpaceX_Mars_transportation_infrastructure">SpaceX Mars transportation infrastructure</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Saturn_C-3">Saturn C-3</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Space_Launch_System">Space Launch System</a></li>
   <li><a href="https://en.wikipedia.org/wiki/New_Glenn">New Glenn</a></li>
</ul>
<br>
<h2>References</h2>
<hr>
<ol>
   <li id="ref-1">
      <strong><a href="#cite-1">Jump up ^</a></strong> 
      <p><a href="https://web.archive.org/web/20140805175724/http://www.spacex.com/falcon9">"Falcon 9 Overview"</a>. SpaceX. May 8, 2010. Archived from <a href="http://www.spacex.com/falcon9">the original</a> on August 5, 2014.</p>
   </li>
   <li id="ref-2">
      <strong><a href="#cite-2">Jump up ^</a></strong> 
      <p>Harwood, William (6 February 2018). <a href="https://www.cbsnews.com/news/spacex-falcon-heavy-launch-spectacular-maiden-flight/">"SpaceX Falcon Heavy launch puts on spectacular show in maiden flight"</a>. <a href="https://en.wikipedia.org/wiki/CBS_News">CBS News</a>. Retrieved 6 February 2018.</p>
   </li>
</ol>