@page
@model FermiParadoxModel
@{
    ViewData["Title"] = "Fermi Paradox";
}

<h1>Fermi Paradox</h1>
<small>The content on this page has been referenced from <a href="https://en.wikipedia.org/wiki/Fermi_paradox">https://en.wikipedia.org/wiki/Fermi_paradox</a></small>
<hr>
<em>This article is about the absence of evidence for extraterrestrial intelligence. For the type of estimation problem, see <a href="https://en.wikipedia.org/wiki/Fermi_problem">Fermi problem</a>. For the Tub Ring album, see <a href="https://en.wikipedia.org/wiki/Fermi_Paradox_(album)">Fermi Paradox (album)</a>.</em>
<br>
<em>"Where is everybody" redirects here. For the Twilight Zone episode, see <a href="https://en.wikipedia.org/wiki/Where_Is_Everybody?">Where Is Everybody?</a> For the television production company, see <a href="https://en.wikipedia.org/wiki/Where's_Everybody">Where's Everybody</a>.</em>
<p><br>The <strong>Fermi paradox</strong>, or <strong>Fermi's paradox</strong>, named after physicist <a href="https://en.wikipedia.org/wiki/Enrico_Fermi">Enrico Fermi</a>, is the apparent contradiction between the lack of <a href="https://en.wikipedia.org/wiki/Evidence">evidence</a> and high <a href="https://en.wikipedia.org/wiki/Probability">probability</a> estimates<sup><a id="cite-1" href="#ref-1">[1]</a></sup> for the existence of <a href="https://en.wikipedia.org/wiki/Extraterrestrial_life">extraterrestrial</a> civilizations.<sup><a id="cite-2" href="#ref-2">[2]</a></sup> The basic points of the argument, made by <a href="https://en.wikipedia.org/wiki/Physicists">physicists</a> <a href="https://en.wikipedia.org/wiki/Enrico_Fermi">Enrico Fermi</a> (1901–1954) and <a href="https://en.wikipedia.org/wiki/Michael_H._Hart">Michael H. Hart</a> (born 1932), are:</p>
<ul>
   <li>There are billions of stars in the <a href="https://en.wikipedia.org/wiki/Galaxy">galaxy</a> that are similar to the <a href="https://en.wikipedia.org/wiki/Sun">Sun</a>,<sup><a id="cite-3" href="#ref-3">[3]</a></sup> and many of these stars are billions of years older than the <a href="https://en.wikipedia.org/wiki/Solar_system">Solar system</a>.</li>
   <li>With high probability, some of these stars have <a href="https://en.wikipedia.org/wiki/Earth">Earth</a>-like planets, and if the Earth is typical, some may have developed <a href="https://en.wikipedia.org/wiki/Human_intelligence">intelligent</a> life.</li>
   <li>Some of these <a href="https://en.wikipedia.org/wiki/Civilization">civilizations</a> may have developed <a href="https://en.wikipedia.org/wiki/Interstellar_travel">interstellar travel</a>, a step the Earth is investigating now.</li>
   <li>Even at the slow pace of currently envisioned interstellar travel, the <a href="https://en.wikipedia.org/wiki/Milky_Way">Milky Way galaxy</a> could be completely traversed in a few million years.</li>
</ul>
<p>According to this line of reasoning, the Earth should have already been visited by extraterrestrial aliens.  In an informal conversation, Fermi noted no convincing evidence of this, leading him to ask, "Where is everybody?" There have been many attempts to explain the Fermi paradox, primarily either suggesting that intelligent extraterrestrial life is extremely rare or proposing reasons that such civilizations have not contacted or visited Earth.</p>
<div>
   <a href="https://en.wikipedia.org/wiki/File:Enrico_Fermi_1943-49.jpg"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Enrico_Fermi_1943-49.jpg/180px-Enrico_Fermi_1943-49.jpg"/></a>
   <div>
      <a href="https://en.wikipedia.org/wiki/Enrico_Fermi">Enrico Fermi</a> (1901–1954)
   </div>
</div>
<br>
<h2>Basis</h2>
<hr>
<p>The Fermi <a href="https://en.wikipedia.org/wiki/Paradox">paradox</a> is a conflict between arguments of <a href="https://en.wikipedia.org/wiki/Scale_(spatial)">scale</a> and <a href="https://en.wikipedia.org/wiki/Probability">probability</a> that seem to favor intelligent life being common in the universe, and a total lack of <a href="https://en.wikipedia.org/wiki/Evidence">evidence</a> of intelligent life having ever arisen anywhere other than on the Earth.</p>
<p>The first aspect of the Fermi paradox is a function of the scale or the large numbers involved: there are an estimated 200–400 billion stars in the Milky Way (2–4 × <a href="https://en.wikipedia.org/wiki/Orders_of_magnitude">10<sup>11</sup></a>) and 70 sextillion (7×10<sup>22</sup>) in the <a href="https://en.wikipedia.org/wiki/Observable_universe">observable universe</a>. Even if intelligent life occurs on only a minuscule percentage of planets around these stars, there might still be a great number of <a href="https://en.wiktionary.org/wiki/extant#English">extant</a> civilizations, and if the percentage were high enough it would produce a significant number of extant civilizations in the Milky Way. This assumes the <a href="https://en.wikipedia.org/wiki/Mediocrity_principle">mediocrity principle</a>, by which the Earth is a typical <a href="https://en.wikipedia.org/wiki/Planet">planet</a>.</p>
<p>The second aspect of the Fermi paradox is the argument of probability: given intelligent life's ability to overcome scarcity, and its tendency to colonize new <a href="https://en.wikipedia.org/wiki/Habitat_(ecology)">habitats</a>, it seems possible that at least some civilizations would be technologically advanced, seek out new resources in space, and colonize their own <a href="https://en.wikipedia.org/wiki/Star_system">star system</a> and, subsequently, surrounding star systems. Since there is no significant evidence on Earth, or instead where in the known universe, of other intelligent life after 13.8 billion years of the universe's history, there is a conflict requiring a resolution. Some examples of possible resolutions are that intelligent life is rarer than we think, that our assumptions about the general development or behavior of intelligent species are flawed, or, more radically, that our current scientific understanding of the nature of the universe itself is quite incomplete.</p>
<div><a href="https://en.wikipedia.org/wiki/File:Marciano_Genérico.JPG"><img src="//upload.wikimedia.org/wikipedia/commons/c/c6/Marciano_Genérico.JPG"/></a></div>
<div>An artist's depiction of the "little green man" described in the novel <em><a href="https://en.wikipedia.org/wiki/Martians,_Go_Home">Martians, Go Home</a></em></div>
<p><br>The Fermi paradox can be asked in two ways. The first is, "Why are no aliens or their artifacts found here on Earth, or in the Solar System?" If <a href="https://en.wikipedia.org/wiki/Interstellar_travel">interstellar travel</a> is possible, even the "slow" kind nearly within the reach of Earth technology, then it would only take from 5 million to 50 million years to colonize the galaxy. This is relatively brief on a <a href="https://en.wikipedia.org/wiki/Geological_time">geological scale</a>, let alone a <a href="https://en.wikipedia.org/wiki/Timeline_of_the_Big_Bang">cosmological one</a>. Since there are many stars older than the Sun, and since intelligent life might have evolved earlier otherwise where, the question then becomes why the galaxy has not been colonized already. Even if colonization is impractical or undesirable to all alien civilizations, large-scale <em>exploration</em> of the galaxy could be possible by <a href="#Alien_constructs">probes</a>. These might leave detectable artifacts in the Solar System, such as old probes or evidence of mining activity, but none of these have been observed.</p>
<p>The second form of the question is "Why do we see no signs of intelligence anywhere in the universe?" This version does not assume interstellar travel, but includes other galaxies as well. For distant galaxies, travel times may well explain the lack of alien visits to Earth, but a sufficiently advanced civilization could potentially be observable over a significant fraction of the <a href="https://en.wikipedia.org/wiki/Observable_universe#Size">size of the observable universe</a>. Even if such civilizations are rare, the scale argument indicates they should exist somewhere at some point during the history of the universe, and since they could be detected from far away over a considerable period of time, many more potential sites for their origin are within range of our observation. It is unknown whether the paradox is stronger for our galaxy or for the universe as a whole.</p>
<h3>Criticism of logical basis</h3>
<p>The Fermi paradox has been criticized as being based on an inappropriate use of <a href="https://en.wikipedia.org/wiki/Propositional_logic">propositional logic</a>. According to a 1985 paper by <a href="https://en.wikipedia.org/wiki/Robert_Freitas">Robert Freitas</a>, when recast as a statement in <a href="https://en.wikipedia.org/wiki/Modal_logic">modal logic</a>, the paradox no longer exists, and carries no probative value.</p>
<br>
<h2>Great Filter</h2>
<hr>
<em>Main article: <a href="https://en.wikipedia.org/wiki/Great_Filter" title="Great Filter">Great Filter</a></em>
<p><br>The Great Filter, in the context of the Fermi paradox, is whatever prevents "dead matter" from giving rise, in time, to expanding, lasting life according to the <a href="https://en.wikipedia.org/wiki/Kardashev_scale">Kardashev scale</a>. The most commonly agreed-upon low probability event is <a href="https://en.wikipedia.org/wiki/Abiogenesis">abiogenesis</a>: a gradual process of increasing complexity of the first self-replicating molecules by a randomly occurring chemical process. Other proposed great filters are the emergence of <a href="https://en.wikipedia.org/wiki/Eukaryotes">eukaryotes</a> or of <a href="https://en.wikipedia.org/wiki/Meiosis">meiosis</a> or some of the steps involved in the evolution of a brain capable of complex logical deductions.</p>
<br>
<h2>See Also</h2>
<hr>
<ul>
   <li><a href="https://en.wikipedia.org/wiki/Anthropic_principle">Anthropic principle</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Astrobiology">Astrobiology</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Extraterrestrial_hypothesis">Extraterrestrial hypothesis</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Fermi_problem">Fermi problem</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Interstellar_travel">Interstellar travel</a></li>
</ul>
<br>
<h2>References</h2>
<hr>
<ol>
   <li><strong><a id="ref-1" href="#cite-1">Jump up ^</a></strong> e.g., those given by optimistic choices of parameters in the <a href="https://en.wikipedia.org/wiki/Drake_equation">Drake equation</a></li>
   <li><strong><a id="ref-2" href="#cite-2">Jump up ^</a></strong> Krauthammer, C. (December 29, 2011). <a href="https://www.washingtonpost.com/opinions/are-we-alone-in-the-universe/2011/12/29/gIQA2wSOPP_story.html">"Are we alone in the universe?"</a>. <em><a href="https://en.wikipedia.org/wiki/The_Washington_Post">The Washington Post</a></em>. Retrieved January 6, 2015.</li>
   <li><strong><a id="ref-3" href="#cite-3">Jump up ^</a></strong> <a href="http://www.britannica.com/topic/star-astronomy">"Star (astronomy)"</a>. Encyclopædia Britannica. "With regard to mass, size, and intrinsic brightness, the Sun is a typical star." Technically, the sun is near the middle of the main sequence of the <a href="https://en.wikipedia.org/wiki/Hertzsprung-Russell_diagram">Hertzsprung-Russell diagram</a>. This sequence contains 80–90% of the stars of the galaxy. <a href="http://astro.unl.edu/naap/hr/hr_background3.html">[1]</a></li>
</ol>