@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
  <tr>
    <th>JavaScript</th>
    <td><a href="javascript:void(0)">Javascript</a></td>
  </tr>
  <tr>
    <th>jQuery</th>
    <td><a href="javascript:void(0)">jQuery</a></td>
  </tr>
  <tr>
    <th>SASS</th>
    <td><a href="javascript:void(0)">SASS</a></td>
  </tr>
</table>