@page
@model KardashevScaleModel
@{
    ViewData["Title"] = "Kardashev Scale";
}

<h1>Kardashev Scale</h1>
<small>The content on this page has been referenced from <a href="https://en.wikipedia.org/wiki/Kardashev_scale">https://en.wikipedia.org/wiki/Kardashev_scale</a></small>
<hr>
<em>This article is about a measuring method. For the album by Greydon Square, see <a href="https://en.wikipedia.org/wiki/The_Kardashev_Scale_(album)" target="_blank">The Kardashev Scale (album)</a>.</em>
<p><br>The <strong>Kardashev scale</strong> is a method of measuring a <a href="https://en.wikipedia.org/wiki/Civilization">civilization</a>'s level of <a href="https://en.wikipedia.org/wiki/Technology">technological</a> advancement, based on the amount of <a href="https://en.wikipedia.org/wiki/Energy">energy</a> a civilization is able to use. It was proposed by Soviet astronomer <a href="https://en.wikipedia.org/wiki/Nikolai_Kardashev">Nikolai Kardashev</a> in 1964<sup><a id="cite-1" href="#ref-1">[1]</a></sup>. The scale has three designated categories:</p>
<ul>
   <li>A <strong>Type I civilization</strong>-also called a <a href="https://en.wikipedia.org/wiki/Planetary_civilization">planetary civilization</a>-can use and store all of the energy which reaches its <a href="https://en.wikipedia.org/wiki/Planet">planet</a> from its parent <a href="https://en.wikipedia.org/wiki/Star">star</a>.</li>
   <li>A <strong>Type II civilization</strong>-also called a stellar civilization-can harness the total energy of its planet's parent star (the most popular hypothetical concept being the <a href="https://en.wikipedia.org/wiki/Dyson_sphere">Dyson sphere</a>-a device which would encompass the entire star and transfer its energy to the planet(s)).</li>
   <li>A <strong>Type III civilization</strong>-also called a galactic civilization-can control energy on the scale of its entire host <a href="https://en.wikipedia.org/wiki/Galaxy">galaxy</a>.<sup><a id="cite-2" href="#ref-2">[2]</a></sup></li>
</ul>
<p>The scale is hypothetical, and regards energy consumption on a <a href="https://en.wikipedia.org/wiki/Cosmos">cosmic</a> scale. Various extensions of the scale have since been proposed, including a wider range of power levels (types 0, IV and V) and the use of metrics other than pure power.</p>
<br>
<h2>Definition</h2>
<hr>
<p>In 1964, <a href="https://en.wikipedia.org/wiki/Nikolai_Kardashev">Kardashev</a> defined three levels of civilizations, based on the order of magnitude of <a href="https://en.wikipedia.org/wiki/Power_(physics)">power</a> available to them:</p>
<dl>
   <dt>Type I</dt>
   <dd>Technological level of a civilization that can harness all the energy that falls on a planet from its parent star (for Earth-Sun system, this value is close to 7x10<sup>17</sup> watts), which is more than five <a href="https://en.wikipedia.org/wiki/Order_of_magnitude">orders of magnitude</a> higher than the amount presently attained on earth, with energy consumption at ≈4×10<sup>19</sup> <a href="https://en.wikipedia.org/wiki/Erg">erg</a>/sec (4 × 10<sup>12</sup> watts).<sup><a href="#cite_note-Kard_TransInfoCiv-1">[1]</a></sup> The astronomer Guillermo A. Lemarchand stated this as a level near contemporary terrestrial civilization with an energy capability equivalent to the solar insolation on Earth, between 10<sup>16</sup> and 10<sup>17</sup> watts.<sup><a id="cite-3" href="#ref-3">[3]</a></sup></dd>
   <br>
   <dt>Type II</dt>
   <dd>A civilization capable of harnessing the energy radiated by its own star—for example, the stage of successful construction of a <a href="https://en.wikipedia.org/wiki/Dyson_sphere">Dyson sphere</a>—with energy consumption at ≈4×10<sup>33</sup> erg/sec.<sup><a href="#cite_note-Kard_TransInfoCiv-1">[1]</a></sup> Lemarchand stated this as a civilization capable of utilizing and channeling the entire radiation output of its star. The energy utilization would then be comparable to the luminosity of our <a href="https://en.wikipedia.org/wiki/Sun">Sun</a>, about 4×10<sup>33</sup> erg/sec (4×10<sup>26</sup> <a href="https://en.wikipedia.org/wiki/Watt">watt</a>s).<sup><a href="#cite_note-Lemarchand-3">[3]</a></sup></dd>
   <br>
   <dt>Type III</dt>
   <dd>A civilization in possession of energy on the scale of its own <a href="https://en.wikipedia.org/wiki/Galaxy">galaxy</a>, with energy consumption at ≈4×10<sup>44</sup> erg/sec.<sup><a href="#cite_note-Kard_TransInfoCiv-1">[1]</a></sup> Lemarchand stated this as a civilization with access to the power comparable to the luminosity of the entire <a href="https://en.wikipedia.org/wiki/Milky_Way">Milky Way</a> galaxy, about 4×10<sup>44</sup> erg/sec (4×10<sup>37</sup> watts).<sup><a href="#cite_note-Lemarchand-3">[3]</a></sup></dd>
</dl>
<br>
<div>
   <a href="https://en.wikipedia.org/wiki/File:Consommations_%C3%A9nerg%C3%A9tiques_des_trois_types_de_l%27%C3%A9chelle_de_Kardashev.svg"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Consommations_%C3%A9nerg%C3%A9tiques_des_trois_types_de_l%27%C3%A9chelle_de_Kardashev.svg/660px-Consommations_%C3%A9nerg%C3%A9tiques_des_trois_types_de_l%27%C3%A9chelle_de_Kardashev.svg.png"/></a>
</div>
<br>
<h2>Current status of human civilization</h2>
<hr>
<div>Further information: <a href="https://en.wikipedia.org/wiki/World_energy_consumption">World energy consumption</a></div>
<p>At the current time, Humans have not yet reached Type 1 civilization. Physicist and futurist <a href="https://en.wikipedia.org/wiki/Michio_Kaku">Michio Kaku</a> suggested that humans may attain <a href="https://en.wikipedia.org/wiki/Planetary_civilization">Type I</a> status in 100–200 years, Type II status in a few thousand years, and Type III status in 100,000 to a million years.<sup><a id="cite-4" href="#ref-4">[4]</a></sup></p>
<p><a href="https://en.wikipedia.org/wiki/Carl_Sagan">Carl Sagan</a> suggested defining intermediate values (not considered in Kardashev's original scale) by <a href="https://en.wikipedia.org/wiki/Interpolation">interpolating</a> and <a href="https://en.wikipedia.org/wiki/Extrapolation">extrapolating</a> the values given above for types I (10<sup>16</sup> W), II (10<sup>26</sup> W) and III (10<sup>36</sup> W), which would produce the formula</p>
<div>
   <p><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/e1f2c4790c04a5b34e487a948cc0e151cea09140"/></p>
</div>
<p>where value <i>K</i> is a civilization's Kardashev rating and <i>P</i> is the power it uses, in watts.  Using this extrapolation, a "Type 0" civilization, not defined by Kardashev, would control about 1 MW of power, and humanity's civilization type as of 1973 was about 0.7 (apparently using 10 <a href="https://en.wikipedia.org/wiki/Watt#Terawatt" title="Watt">terawatt</a> (TW) as the value for 1970s humanity).<sup id="cite_ref-books.google.com_5-0" class="reference"><a id="cite-5" href="#ref-5">[5]</a></sup></p>
<p>In 2012, total <a href="https://en.wikipedia.org/wiki/World_energy_consumption">world energy consumption</a> was 553 <a href="https://en.wikipedia.org/wiki/Joule">exajoules</a> (553×10<sup>18</sup> J=153,611 TWh),<sup><a id="cite-6" href="#ref-6">[6]</a></sup> equivalent to an average power consumption of 17.54 TW (or 0.7244 on Sagan's Kardashev scale).</p>
<br>
<h2>See Also</h2>
<hr>
<ul>
   <li><a href="https://en.wikipedia.org/wiki/Astroengineering">Astroengineering</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Clarke's_three_laws">Clarke's three laws</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Drake_equation">Drake equation</a></li>
   <li><a href="https://en.wikipedia.org/wiki/Radio_signal_from_HD_164595">Radio signal from HD 164595</a></li>
   <li><a href="https://en.wikipedia.org/wiki/KIC_8462852">KIC 8462852</a></li>
</ul>
<br>
<h2>References</h2>
<hr>
<ol>
   <li id="ref-1"><strong><a href="#cite-1">Jump up ^</a></strong> <a href="https://en.wikipedia.org/wiki/Nikolai_Kardashev">Kardashev, Nikolai</a>(1964). "Transmission of Information by Extraterrestrial Civilizations". <em>Soviet Astronomy</em>. <strong>8</strong>: 217. <a href="https://en.wikipedia.org/wiki/Bibcode">Bibcode</a>:<a href="http://adsabs.harvard.edu/abs/1964SvA.....8..217K">1964SvA.....8..217K</a>.</li>
   <li id="ref-2"><strong><a href="#cite-2">Jump up ^</a></strong> <a href="https://en.wikipedia.org/wiki/Nikolai_Kardashev">Kardashev, Nikolai</a>. "<a href="http://articles.adsabs.harvard.edu/cgi-bin/nph-iarticle_query?1985IAUS..112..497K">On the Inevitability and the Possible Structures of Supercivilizations</a>", The search for extraterrestrial life: Recent developments; Proceedings of the Symposium, Boston, MA, June 18–21, 1984 (A86-38126 17-88). Dordrecht, D. Reidel Publishing Co., 1985, p. 497–504.</li>
   <li id="ref-3"><strong><a href="#cite-3">Jump up ^</a></strong> Lemarchand, Guillermo A. <a href="http://www.coseti.org/lemarch1.htm">"Detectability of Extraterrestrial Technological Activities"</a>. Coseti.</li>
   <li id="ref-4"><strong><a href="#cite-4">Jump up ^</a></strong> <a href="https://en.wikipedia.org/wiki/Michio_Kaku">Kaku, Michio</a> (2010). <a href="http://mkaku.org/home/?page_id=250">"The Physics of Interstellar Travel: To one day, reach the stars"</a>. Retrieved 2010-08-29.</li>
   <li id="ref-5"><strong><a href="#cite-5">Jump up ^</a></strong> <a href="https://en.wikipedia.org/wiki/Carl_Sagan">Sagan, Carl</a> (October 2000) [1973]. Jerome Agel, ed. <a href="https://books.google.com/?id=lL57o9YB0mAC&pg=PA156"><em>Cosmic Connection: An Extraterrestrial Perspective</em></a>. <a href="https://en.wikipedia.org/wiki/Freeman_J._Dyson">Freeman J. Dyson</a>, David Morrison. Cambridge Press. <a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number">ISBN</a> <a href="https://en.wikipedia.org/wiki/Special:BookSources/0-521-78303-8">0-521-78303-8</a>. Retrieved 2008-01-01. I would suggest Type 1.0 as a civilization using 10<sup>16</sup> watts for interstellar communication; Type 1.1, 10<sup>17</sup> watts; Type 1.2, 10<sup>18</sup> watts, and so on. Our present civilization would be classed as something like Type 0.7.</li>
   <li id="ref-6"><strong><a href="#cite-6">Jump up ^</a></strong> <a href="http://www.eia.gov/cfapps/ipdbproject/iedindex3.cfm?tid=44&pid=44&aid=2&cid=ww,&syid=2008&eyid=2012&unit=QBTU">"Total Primary Energy Consumption 2008-2012"</a> (cfm). <em>Statistical Review of World Energy 2008-2012</em>. U.S. Energy Information Administration.</li>
</ol>