@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="text-align: center;">Dream Destinations</h1>

<img style="display: block;margin: 0 auto;" src="http://www.wanderlust-soul.com/wp-content/uploads/2017/02/cropped-cropped-cropped-cabecera-blog-pq-png-2-1-2.png">

<p style="text-align: center;">Our experiences shape us, and if we do not go out and get new ones, we will stay static.</p>
<p style="text-align: center;">To feed the wanderlust inside of you, we have compiled a list of must visit destinations. Go ahead, plan your next dream trip!</p>

<hr>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>View Dream Destinations by Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/CountryProfile?id=1">India</a></td>
        </tr>
        <tr>
            <td><a href="/CountryProfile?id=2">United States</a></td>
        </tr>
        <tr>
            <td><a href="/CountryProfile?id=3">Netherlands</a></td>
        </tr>
        <tr>
            <td><a href="/CountryProfile?id=4">England</a></td>
        </tr>
        <tr>
            <td><a href="/CountryProfile?id=5">France</a></td>
        </tr>
        <tr>
            <td><a href="/CountryProfile?id=6">Italy</a></td>
        </tr>
    </tbody>
</table>

<hr>
<a href="/QuickGlance">Quickly Glance all our Dream Destinations</a>
<hr>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="2" style="text-align: center">Some cool statistics!</th>
        </tr>
        <tr>
            <th>Total Dream Destinations</th>
            <th>Average Trip Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TotalDestinations</td>
            <td>@Model.AverageCost</td>
        </tr>
    </tbody>
</table>
