@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="text-align: center;">Dream Destinations</h1>

<img style="display: block;margin: 0 auto;" src="http://www.wanderlust-soul.com/wp-content/uploads/2017/02/cropped-cropped-cropped-cabecera-blog-pq-png-2-1-2.png">

<p style="text-align: center;">Our experiences shape us, and if we do not go out and get new ones, we will stay static.</p>
<p style="text-align: center;">To feed the wanderlust inside of you, we have compiled a list of must visit destinations. Go ahead, plan your next dream trip!</p>