@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="about-us">
        <div class="about-head">WHAT WE ARE ABOUT</div>
        <div class="about-copy">We’re here to set you up for success right from the start.</div>
        <div class="about-detail clear-fix">
            <div class="about-item">
                <img src="images/icons/calendar.png" class="about-icon">
                <p class="about-title">RELEASING MUSIC</p>
                <p class="about-description">Singles, albums, distribution, marketing plans, publicity, timelines, you name it! We've got you covered to get started.</p>
            </div>
            <div class="about-item">
                <img src="images/icons/tour.png" class="about-icon">
                <p class="about-title">GOING ON TOUR</p>
                <p class="about-description">From how to write an email to book a show, playing festivals, to routing and budgeting for your first national tour.</p>
            </div>
            <div class="about-item">
                <img src="images/icons/radio.png" class="about-icon">
                <p class="about-title">GETTING ON RADIO</p>
                <p class="about-description">From doing it yourself, to hiring a radio promoter, we've got all the do's and don'ts you need to know.</p>
            </div>
            <div class="about-item">
                <img src="images/icons/sign.png" class="about-icon">
                <p class="about-title">GETTING SIGNED</p>
                <p class="about-description">Need an Agent? A Publisher? A Record Contract? Our experts tell you all the secrets about getting signed.</p>
            </div>
        </div>
    </div>
</div>