@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <h1 class="custom-head">ADMIN SECTION</h1>
    <ul class="admin-items">
        <li><a asp-page="Managers/Index">Administer Managers</a></li>
        <li><a asp-page="Bands/Index">Administer Bands</a></li>
        <li><a asp-page="Concerts/Index">Administer Concerts</a></li>
        <li><a asp-page="Songs/Index">Administer Songs</a></li>
    </ul>
    <hr>
    <p class="update-manager">UPDATE BAND MANAGER</p>
    <form action="" method="POST" style="margin-top: 50px;" id="update-form">
        <label class="control-label" >Select Band</label>
        <select name="BandUpdate" form="update-form" class = "form-control">
        @foreach ( var code in Model.Bands){
            <option value="@code.BandName">@code.BandName</option>
        }
        </select>
        <label class="control-label" >Select New Manager Name</label>
        <select name="ManagerUpdate" form="update-form" class = "form-control">
        @foreach ( var code in Model.Managers){
            <option value="@code.ManagerName">@code.ManagerName</option>
        }
        </select>
        <input type = "submit" value="Update" class="btn btn-default">
    </form>
    @if(Model.SearchCompleted == true){
        <p>UPDATED!</p>
    }
</div>
