@page
@model AdminModel
@{
}

<div class="container">
    <h1>Admin Page</h1>

    <ul>
        <li><a asp-page="Managers/Index">Administer Managers</a></li>
        <li><a asp-page="Bands/Index">Administer Bands</a></li>
        <li><a asp-page="Concerts/Index">Administer Concerts</a></li>
        <li><a asp-page="Songs/Index">Administer Songs</a></li>
    </ul>
</div>