@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container">    
    <h1 class="custom-head">GET IN TOUCH WITH US..</h1>

    <div class="contact-us-tile">
        <img class="contact-us-image" src="images/managers/sahiltandon.jpg">
        <div class="contact-us-info">
            <p class="contact-us-name">Sahil Tandon</p>
            <p class="contact-us-designation">Co-Founder</p>
            <p class="contact-us-location">Cincinnati, OH</p>            
            <p class="contact-us-phone">(513) 206-3185</p>
            <a href="mailto:sahiltandon@bandit.com" class="contact-us-email">sahiltandon@bandit.com</a>
        </div>
    </div>

    <div class="contact-us-tile">
        <img class="contact-us-image" src="images/managers/sudhakarsamak.jpg">
        <div class="contact-us-info">
            <p class="contact-us-name">Sudhakar Samak</p>
            <p class="contact-us-designation">Co-Founder</p>
            <p class="contact-us-location">Cincinnati, OH</p>
            <p class="contact-us-phone">(513) 510-7397</p>
            <a href="mailto:sudhakarsamak@bandit.com" class="contact-us-email">sudhakarsamak@bandit.com</a>            
        </div>
    </div>
</div>