@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <img src = "/Images/bandit-original.png" align = "right">

    <address>
        Sudhakar Samak<br />
        Cincinnati, OH<br />
        <abbr title="Phone">P:</abbr>
        513.510.7397
    </address>
    <address>
        Sahil Tandon<br />
        Cincinnati, OH<br />
        <abbr title="Phone">P:</abbr>
        513.206.3185
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:tandonsl@mail.uc.edu">tandonsl@mail.uc.edu</a><br />
        <strong>Marketing:</strong> <a href="mailto:samaklsr@mail.uc.edu">samaklsr@mail.uc.edu</a>
    </address>
</div>