@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}

<div class="help-page">
    <div class="container">
        <h1 class="custom-head">WE ARE HERE TO HELP..</h1>
        <p class="help-copy">
            BandIt is a Band Management App which gives information about Bands, songs and their concerts. We also give a list of managers managing all the bands. 
        </p>
        <ul class="help-items">
            <li>Click on the Band tab to see the list of bands that are being managed. You can also search for a band using the search bar.</li>
            <li>Click on the Manager tabs to see the managers who are part of BandIt. You can also search for managers using the search bar.</li>
            <li>Click on Concert tab to check out the listing of the all the concerts that have happened in the past and that are going to take place in future. You can also search the concerts of a particular band using the search bar</li>
            <li>Click on Songs tab to get a detailed information about all the songs by the bands. You can also sort the songs based on all the table headings.</li>
            <li>In the Band Listing page, if you wish to see the songs by a particular band, click on the link provided inside each band field</li>
        </ul>        
    </div>
</div>