/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fafafa;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Band Listing Page */
.band-tile-wrap {
    overflow: hidden;
}
.band-tile {
    width: calc((100% - 120px)/3);
    float: left;
    margin: 10px 30px;
    border: 1px solid black;
    background: #000;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.band-tile:hover {
    background: #101010;
}
.band-tile:nth-of-type(3n) {
    margin-right: 0;
}
.band-tile:nth-of-type(3n+1) {
    margin-left: 0;
}
.band-image {
    width: calc(100% - 30px);
    border: 2px solid #96281b;
    margin: 15px 15px 0 15px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.band-label {
    color: #96281b;
}
.band-info {
    padding: 15px;
}
.band-info p {
    margin: 0;
    padding: 2px 0;
    text-align: center;
    color: #ccc;
    font-weight: bold;
}